body {
  margin-top:20px;
  background: #f8f8f8;
}

ul {
  list-style: none;
}

.todo-nav {
  margin-top: 10px
}

.card-list {
  list-style: none;
  
}

.card-list .card-item {
  padding: 15px;
  margin: 10px 0px 10px 0px;
  border-radius: 0;
  background: #f7f7f7
}

div.checker {
  width: 18px;
  height: 18px;
}

div.checker input,
div.checker span {
  width: 18px;
  height: 18px;
}

div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  text-align: center;
  background-position: 0 -260px;
}

div.checker, div.checker input, div.checker span {
  width: 19px;
  height: 19px;
}

div.checker, div.radio, div.uploader {
  position: relative;
}

div.button, div.button *, div.checker, div.checker *, div.radio, div.radio *, div.selector, div.selector *, div.uploader, div.uploader * {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

div.button, div.checker, div.radio, div.selector, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}

div.checker input:hover {
  cursor: pointer;
}

div.card {
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: initial;
  background: #fff;
  border-radius: calc(.15rem - 1px);
  box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
}

.list-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-link:hover {
  cursor: pointer;
}

p.address {
  color: #838383;
}

.list-tab {
  margin: 10px;
}

.completed-content {
  text-decoration: line-through;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.card-body-blocked {
  pointer-events: none;
}

#addButton {
  pointer-events: all;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #292929;
  }

  h4 {
    color: #fff;
  }
  
  div#__next {
    background: #292929;
  }

  div.container {
    background: #292929;
  }

  .card-list .card-item {
    color: #fff;
    background: #292929;
  }

  div.card {
    color: #fff;
    background: #191919;
  }

  input[type="text"]  {
    background: #191919;
    border-color: #292929;
    color: #fff;
  }

  input[type="text"]:focus-within  {
    background: #191919;
    border-color: #292929;
    color: #fff;
  }

  p.address {
    color: #3b3b3b;
  }
}

button.save {
  background: #0075FF;
  padding: 7.5px;
  margin-top: 10px;
  margin-right: 10px;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}

button.save:hover {
  background: #0062d2;
}

button.cancel {
  background: #F71919;
  padding: 7.5px;
  margin-top: 10px;
  margin-right: 10px;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}

button.cancel:hover {
  background: #c81414;
}